
.badge-large {
    height: 148px;
    width: 148px;
    
    margin-top: -72px;
    
    align-self: center;
    
    border-radius: 50%;
    padding-left: 2px;
    padding-top: 2px;
}

.badge-large-content {

    height: 137px;
    width: 137px;


    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
}

.badge-large-text {
    margin-top: 20px;

    text-align: center;
    
    font-weight: bold;
    font-size: 5.5em;
    font-family: 'Montserrat', sans-serif;
}