.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-title {    
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.input-field {
    height:    60;
    width:     444px;

    margin-top: 8px;


    font-size: 2em;
    
    font-family: 'Roboto', sans-serif;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px;
}

.input-field:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px;
    outline:none;
}

