
<div>
    <div class="page-component-top-container background-light color-accent title-page-top-height">
        
        <div class="page-component-horizontal-line background-primary"></div>
        
        <title-component 
            [_title]='"Covert Words"'
            class="title-component">
        </title-component>
    </div>

    <div class="page-component-bottom-container background-dark title-page-bottom-height">
        
        <div class="page-component-horizontal-line background-primary"></div>

        <div class="title-page-center-icon background-base">
            <div class="title-page-center-icon-content border-primary ">
                <div class="title-page-center-icon-text color-dark">?</div>
            </div>
        </div>

        <div class="button-component-container">
            <div class="button-component color-dark background-primary-hover" (click)="onBeginGame()">
                BEGIN GAME
            </div>

            <div class="button-component color-dark background-primary-hover">
                RULES
            </div>

            <div class="button-component color-dark background-primary-hover">
                ABOUT
            </div>
        </div>

        <div class="title-page-footer color-primary" > 
            Prototype 26 June 2016
        </div>

        <div class="page-component-horizontal-line background-primary"></div>

    </div>

     
</div>

<img src="../../assets/img/gun.png" class="title-page-image-overlay">

